body {
  font-family: Montserrat, sans-serif;
}
h1.separator {
  height: 1px;
  background-color: #d8d8d8;
}
/*index.html*/
section.best-team {
  background-color: #ffe1bd;
  padding-top: 47px;
  div.container {
    margin-top: 0;
  }
  .wrapp {
    margin: 0 auto;
    max-width: 880px;
  }
  h1:first-child {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 0;
    color: #000;
    font-size: 60px;
    line-height: 48px;
    font-weight: 100;
  }
  div.row {
    margin: 85px auto 0;
    text-align: center;
    div.col-md-4 {
      vertical-align: top;
      figure {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
      }
      h1 {
        color: #000;
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        margin-top: 15px;
        margin-bottom: 0;
      }
      p {
        color: #000;
        font-size: 18px;
        font-weight: 300;
        line-height: 48px;
      }
      hr {
        width: 55px;
        height: 2px;
        background-color: #000;
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
  }
  ul:last-child {
    margin: 16px 0 0;
    padding: 0 0 95px;
    text-align: center;
    li {
      display: inline-block;
      padding-right: 14px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

span {
  &.arrow-left {
    position: absolute;
    margin-top: 152px;
  }
  &.arrow-right {
    position: absolute;
    right: 0;
    margin-right: 126px;
    margin-top: -418px;
  }
  &.arrow-left {
    background: url(../images/arrow-left.png) no-repeat;
    display: block;
    height: 55px;
    width: 29px;
    cursor: pointer;
  }
  &.arrow-right {
    display: block;
    height: 55px;
    width: 29px;
    cursor: pointer;
    background: url(../images/arrow-right.png) no-repeat;
  }
}

section {
  &.clients-says {
    header h1 {
      text-align: center;
      color: #000;
      font-size: 60px;
      font-weight: 100;
      line-height: 48px;
      margin: 86px 0 80px;
    }
    article.says {
      header {
        padding-right: 68px;
        text-align: right;
        h1 {
          margin: 0;
          text-align: right;
          color: #000;
          font-size: 40px;
          font-weight: 700;
          line-height: 42px;
        }
        hr {
          margin-top: 11px;
          margin-bottom: 0;
          float: right;
          width: 55px;
          height: 2px;
          background-color: #000;
        }
        p {
          text-align: right;
          color: #000;
          font-size: 18px;
          font-weight: 300;
          line-height: 48px;
        }
      }
      p.content {
        margin-top: 7px;
        color: #656565;
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
      }
      article.photo {
        margin-top: 65px;
        div {
          &.row {
            margin: 0 auto;
          }
          &:not(.row):not(.dsds) {
            padding-bottom: 15px;
            margin: 0 auto;
            figure {
              text-align: center;
              margin: 0;
              img {
                display: inline-block;
              }
            }
          }
        }
        ul.indicators {
          margin-top: 55px;
          margin-bottom: 80px;
        }
      }
    }
  }
  &.get-in-touch {
    min-height: 703px;
    background-color: #000;
    div.container {
      padding-bottom: 100px;
    }
    header h1 {
      text-align: center;
      margin: 0;
      padding-top: 87px;
      font-weight: 100;
      color: #fff;
      font-size: 60px;
      line-height: 48px;
    }
    article {
      &.contact {
        padding-right: 80px;
        ul.contact {
          padding: 0;
          margin: 25px 0 0 20px;
          color: #fff;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          li {
            list-style-image: url(../images/iphone.png);
            padding-bottom: 36px;
            padding-left: 15px;
            &:first-child {
              list-style-image: url(../images/pin.png);
            }
            &:last-child {
              list-style-image: url(../images/envelope.png);
              padding-bottom: 0;
            }
          }
        }
      }
      &.feedback {
        margin-top: 15px;
        padding: 0 0 0 15px;
        form {
          div.form-group div.input-group {
            width: 100%;
            margin-bottom: 30px;
            label {
              opacity: .4;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              line-height: 48px;
              margin: 0;
              padding: 0;
              height: 10px;
            }
            input {
              padding: 0;
              margin: 0;
              background-color: #000;
              border: none;
              border-bottom: 1px solid #333;
              height: 15px;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              line-height: 48px;
            }
            textarea {
              padding: 0;
              margin: 0;
              background-color: #000;
              border: none;
              border-bottom: 1px solid #333;
              height: 15px;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              line-height: 48px;
              margin-top: 15px;
              margin-bottom: 5px;
              line-height: normal;
              height: 83px;
              border-top: 1px solid #333;
              resize: none;
            }
            input:focus, textarea:focus {
              box-shadow: none;
              border-bottom: 2px solid #fff;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          hr {
            margin-top: 80px;
            margin-left: 0;
            margin-right: 0;
            height: 1px;
            background-color: #333;
            border-top: 1px solid #333;
          }
        }
        div.msg-sent {
          h1 {
            color: #fff;
            font-size: 30px;
            font-weight: 300;
          }
          img {
            margin-left: 36px;
          }
        }
        button {
          width: 170px;
          height: 50px;
          color: #000;
          font-size: 18px;
          font-weight: 300;
          margin-top: 28px;
          &:hover {
            background-color: #ffcb93;
            color: #000;
            font-weight: 300;
          }
        }
      }
    }
  }
}

ul.social {
  padding: 0;
  list-style: none;
  margin: 40px 0 0;
  li {
    display: inline-block;
    padding-right: 16px;
    &:last-child {
      padding-right: 0;
    }
  }
}

section.what-we-do {
  header:first-child h1:first-child {
    color: #000;
    font-size: 60px;
    font-weight: 100;
    line-height: 48px;
    text-align: center;
    margin: 0;
    margin-top: 87px;
  }
  div.row article {
    float: left;
    margin-top: 100px;
    figure {
      margin: 0;
      text-align: center;
      img {
        display: inline-block;
      }
    }
    header {
      height: 71px;
      width: 42.6%;
      line-height: 48px;
      p {
        margin: 0 0 0 -5px;
        font-size: 30px;
        font-weight: 300;
        line-height: 10px;
      }
      h1 {
        margin: 0 0 0 -5px;
        font-size: 48px;
        font-weight: 700;
        line-height: 68px;
      }
      hr {
        width: 55px;
        height: 2px;
        background-color: #000;
        margin: 0;
        margin-top: 12px;
        float: left;
      }
      a {
        color: #000;
        &:hover {
          color: #ffcb94;
          text-decoration: none;
        }
      }
    }
    div.content {
      padding: 0;
      margin-top: 19px;
      color: #656565;
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      p {
        padding-top: 26px;
        margin: 0;
      }
      button {
		color: #000000;
        margin-top: 42px;
        width: 170px;
        height: 50px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

section.our-best-work h1:first-child {
    text-align: center;
    margin-top: 86px;
    margin-bottom: 100px;
    color: #000;
    font-size: 60px;
    line-height: 48px;
    font-weight: 100; }
article.our-best-work {
  text-align: center;
  vertical-align: top; }
  article.our-best-work div figure {
    margin: 0 auto;
    padding: 15px 0; }
    article.our-best-work div figure img {
      display: inline-block; }
  article.our-best-work button {
    margin-top: 35px;
    margin-bottom: 50px; }

nav.navbar-clemo {
  background: #fff;
  height: auto;
  border: none;
  margin: 0;
  div {
    &.navbar-clemo-header a.navbar-clemo-brand {
      padding: 0;
      margin: -3px 0 0;
      font-weight: 700;
      font-size: 30px;
      color: #000;
      span {
        font-size: 48px;
        font-weight: 700;
      }
    }
    &.clemo-container-fluid div.clemo-collapse {
      padding: 0;
      ul {
        margin-top: -10px;
        font-size: 18px;
        li a {
          color: #989898;
          font-weight: 300;
          &.active {
            color: #000;
            hr {
              margin: 2px 0 0 2px;
              width: 45%;
              height: 2px;
              background-color: #000;
              float: left;
            }
          }
          &:hover {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }
}

.slider {
  margin-top: 43px;
  height: 520px;
  background-color: #ffe1bd;
  text-align: center;
  .slider-text {
    margin: 0 auto;
    position: relative;
    h1 {
      color: #000;
      margin: 0;
      font-weight: 700;
      line-height: 24px;
      font-size: 48px;
      padding-top: 137px;
      span {
        font-size: 72px;
      }
    }
    hr {
      width: 55px;
      height: 2px;
      background-color: #000;
      margin-top: 34px;
      margin-bottom: 19px;
    }
    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      margin: 0 25px;
    }
    button {
      margin-top: 72px;
      width: 170px;
      height: 50px;
      padding: 0;
      border-radius: 25px;
      background-color: #000;
      border: 0;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      &:hover {
        background-color: #ffcb93;
        color: #000;
        font-weight: 300;
      }
    }
  }
}

#myCarousel .carousel-inner > .item {
  &.active.right, &.next {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
  }
  &.active.left, &.prev {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
  }
  &.next.left, &.prev.right {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    top: 0;
  }
}

.carousel-inner > .item.active {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  top: 0;
}

div.container {
  margin-top: 63px;
  padding: 0 11px;
  &.services {
    margin-top: 0;
  }
}

button {
  outline: none;
  &.btn-white {
	margin-top: 50px;
    border-radius: 25px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
	width: 170px;
    height: 50px;
	font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    &:hover {
      border: 1px solid #000100;
    }
  }
  &.btn-black {
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    width: 170px;
    height: 50px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    &:hover {
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      border-radius: 25px;
      background-color: #ffcb93;
      color: #000;
    }
  }
}

.gl {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
}

.white {
  background-image: url(../images/social-white.png);
}
.black {
  background-image: url(../images/social-black.png);
}

.facebook {
  background-position-x: 0;
}

.twitter {
  background-position-x: -60px;
}

.g-plus {
  background-position-x: -120px;
}

.email {
  background-position-x: -180px;
}

.instagram {
  background-position-x: -240px;
}

a > .gl:hover {
  background-position-y: 40px;
}

ul {
  &.indicators li {
    cursor: pointer;
  }
  &.indicators-center {
    list-style: none;
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      background: url(../images/ellipse-hole.png) no-repeat;
      width: 13px;
      height: 13px;
      margin: 0 14px 0 0;
      &.selected {
        background: url(../images/ellipse.png) no-repeat;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &.indicators-right {
    position: absolute;
    right: 0;
    margin-top: -190px;
    margin-right: 22px;
    list-style-position: inside;
    li {
      list-style-image: url(../images/ellipse-hole.png);
      margin-bottom: 10px;
      &.selected {
        list-style-image: url(../images/ellipse.png);
      }
    }
  }
}
/*about-us*/
section.about-us header:first-child h1:first-child {
  color: #000;
  font-size: 60px;
  font-weight: 100;
  line-height: 48px;
  text-align: center;
  margin: 0;
  margin-top: 86px; }

section.about-us article {
  margin-top: 100px; }
  section.about-us article figure {
    margin: 0;
    text-align: center; }
    section.about-us article figure img {
      display: inline-block; }
  section.about-us article header {
    margin-top: -23px;
    padding-left: 70px; }
    section.about-us article header hr {
      width: 55px;
      height: 2px;
      background-color: #000;
      margin: 0;
      margin-top: 19px;
      float: left; }
  section.about-us article div.content {
    padding-left: 70px;
    margin-top: 41px;
    color: #656565;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px; }
    section.about-us article div.content p {
      margin-bottom: 27px; }
    section.about-us article div.content button {
      margin-top: 15px;
      width: 170px;
      height: 50px; }
  section.about-us article div.best-project {
    padding-left: 72px;
    padding-top: 30px; }
    section.about-us article div.best-project h1.best {
      text-align: left;
      padding-top: 48px;
      margin-top: 0;
      margin-bottom: 20px;
      color: #000;
      font-size: 40px;
      font-weight: 700;
      line-height: 54px; }
    section.about-us article div.best-project hr {
      width: 55px;
      height: 2px;
      background-color: #000;
      margin: 0;
      margin-top: 16px;
      float: left; }

section.numbers div.count {
  h1 {
    text-align: center;
    padding-top: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
  }
  hr {
    width: 55px;
    height: 2px;
    background-color: #000;
    margin-top: 16px;
  }
  p {
    text-align: center;
    color: #000000;
    font-size: 18px;
    line-height: 48px;
    margin-bottom: 96px;
  }
}
section.instagram {
  header h1 {
    text-align: center;
    color: #000;
    font-size: 60px;
    line-height: 48px;
    font-weight: 100;
    margin-top: 87px;
    margin-bottom: 88px;
  }
  article {
    text-align: center;
  }
  h1 {
    color: #000;
    font-size: 60px;
    font-weight: 100;
    line-height: 48px;
    text-align: center;
    margin-top: 89px;
    margin-bottom: 88px;
  }
  article button {
    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
/*services*/
section.best-price {
  height: 200px;
  background-color: #000;
  article {
    margin: 68px auto 0;
    h1 {
      margin: 0;
      margin-top: 13px;
      padding-left: 7px;
      color: #fff;
      font-size: 30px;
      font-weight: 300;
    }
    hr {
      margin: 30px 0 0 10px;
      padding-left: 0;
      width: 55px;
      height: 2px;
      background-color: #fff;
    }
    p.cost {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      padding-left: 33px;
    }
    span.action {
      color: #8e8e8e;
      padding-left: 17px;
      font-size: 30px;
      font-weight: 300;
      vertical-align: top;
      margin-top: 7px;
    }
    p {
      color: #8e8e8e;
      font-size: 30px;
      font-weight: 300;
      line-height: 42px;
      margin: 0;
    }
    button {
      width: 170px;
      height: 50px;
      border-radius: 25px;
      background-color: #ffffff;
      color: #000;
      font-size: 18px;
      font-weight: 300;
      padding: 0;
      margin-top: 5px;
      &:hover {
        background-color: #ffcb93;
        color: #000;
        font-weight: 300;
      }
    }
  }
}
/*contact*/
section.contact.get-in-touch {
  background-color: #fff;
  .container {
    padding-bottom: 0;
  }
  header h1 {
    color: #000;
    padding-top: 85px;
  }
  ul li {
    color: #656565;
  }
  article {
    &.contact ul.contact li {
      list-style-image: url(../images/iphone-black.png);
      padding-bottom: 36px;
      padding-left: 15px;
      &:first-child {
        list-style-image: url(../images/pin-black.png);
      }
      &:last-child {
        list-style-image: url(../images/envelope-black.png);
        padding-bottom: 0;
      }
    }
    &.feedback form {
      div.form-group div.input-group.wh {
        label {
          color: #999;
          opacity: 1;
        }
        input, textarea {
          color: #000;
          background-color: #fff;
        }
        input:focus, textarea:focus {
          border-bottom: 2px solid #000;
        }
      }
      button {
        &.btn-black {
          color: #fff;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
}
#map {
  height: 400px;
  width: 100%;
}
/*instagram*/
.top-row {
  height: 700px;
}
section.instagrams header:first-child h1:first-child {
  color: #000;
  font-size: 60px;
  font-weight: 100;
  line-height: 48px;
  text-align: center;
  margin: 0;
  margin-top: 89px; 
  margin-bottom: 88px; }
.instagram img {
  width: 18%;
  display: inline-block;
  margin: 5px;
}
/*services*/
.padding-top-60 {
  padding-top: 5rem;
}
.padding-bottom-60 {
  padding-bottom: 5rem;
}
.main_events_area .single_events span {
  display: inline-block;
}
.main_events_area .single_events span.e_text {
	margin-left:294px;
	margin-top:35px;
}
.main_events_area .single_events span.e_text1{
    margin-left:20px;
    color:#8e8e8e;
}
.whitetext {
  color: #fff;
}
.main_events_area .single_events p {
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
}
.main_events_area .single_events span.e_price {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
}
.separator3 {
  height: 2px;
  width: 55px;
  margin: 10px auto;
  margin-left: 50px;
  margin-right: 49px;
  background: #fff;
}
.best-price .btn-price-white {
  width: 170px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin-top: 30px;
    &:hover {
      background-color: #ffcb93;
      color: #000;
      font-weight: 300;
    }
}
/*footer*/
footer {
  height: 134px;
  text-align: center;
  h1 {
    margin: 0;
    padding: 45px 0 5px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    color: #656565;
    font-size: 14px;
    font-weight: 300;
  }
}